*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -webkit-text-size-adjust: none;

  -webkit-font-smoothing: antialiased;

  block-size: 100%;

  line-height: var(--font-lineheight-3);
}

body {
  min-block-size: 100%;
}

img,
picture,
video,
svg {
  display: block;

  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;

  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;

  font-size: initial;
}

h1,
h2,
h3 {
  line-height: var(--font-lineheight-0);
}

h1 {
  font-size: 35rem;
  text-align: center;
  margin-bottom: -5rem;
}

h2 {
  font-size: 20rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

@media (max-width: 820px) {
  h1 {
    font-size: 20rem;
    margin-bottom: 0;
  }

  h2 {
    font-size: 15rem;
  }

  h3 {
    font-size: 2rem;
  }
}

@media (max-width: 390px) {
  h1 {
    font-size: 8rem;
    margin-bottom: 0;
  }

  h2 {
    font-size: rem;
  }

  h3 {
    font-size: 2rem;
  }
}
