---
import FotoStil from "../components/FotoStil.astro";
import Galleri from "../components/Galleri.astro";
import HeroText from "../components/HeroText.astro";
import Stock from "../components/Stock.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Video from "../components/Video.astro";
import SlideImg from "../components/SlideImg.astro";
import Kort from "../components/Kort.astro";
---

<BaseLayout>
  <HeroText />
  <Video />
  <section>
    <div class="flex text1">
      <h3>Tidlig interesse</h3>
      <div class="text">
        <p>
          Pierres interesse for foto startede som ganske ung - som 10-årig fik han sin fars gamle Rollei-kamera, og begyndte at skyde løs. Det var før den digitale revolution, så alle Pierres lommepenge blev brugt på filmruller og fremkaldelse af
          film. Pierre fortsatte med at fotografere på film op gennem gymnasietiden.
        </p>
        <br />
        <p>
          Pierre over til digital fotografering i starten af 2000’erne, da han begyndte at studere fotografisk kommunikation på DMJX. Her åbnede en ny verden sig: Reklamefotografering i studie, lyssætning og manipulering af billeder i Photoshop blev
          hans nye stil.
        </p>
      </div>
    </div>
    <div class="flex text2">
      <h3>Vil være landets bedste stock-fotograf</h3>
      <div class="text">
        <p>
          Så Pierre gav sig selv en udfordring: At blive landets bedst sælgende stock-fotograf. Pierre lejede et gammelt, billigt erhvervslokale i Ishøj industri, fik fløjet billige skuespillere ind fra Polen og Baltikum, og fotograferede 10 timer om
          dagen.
        </p>
        <br />
        <p>Pierres profeti om stock-foto branchen holdt stik. Pierre var allerede en af landets bedst sælgende stock-fotografer, før han blev færdig med studiet på DMJX.</p>
      </div>
      <div class="billede">
        <Stock />
      </div>
    </div>
  </section>
  <FotoStil />
  <SlideImg />
  <section class="container">
    <div class="analog">
      <Kort variant="first">
        <h4 class="blue">Analog fotografering</h4>
        <p>
          Fotografering med gode, gammeldags filmruller. Analog fotografering stiger for tiden i popularitet, specielt blandt unge, og prisen på filmruller og vintage-kameraer skyder i vejret. Mange fotografer synes at film-fotografering er mere ægte
          har mere “sjæl.” Analog fotografering er langsommmere, hvert enkelt billede koster penge, og man bliver nødt til at overveje motiv og lys grundigere før der skydes - tænk før du trykker.
        </p>
      </Kort>
    </div>
    <div class="lomografi">
      <Kort variant="second">
        <h4 class="yellow">Lomografi</h4>
        <p>
          Et lomografi er egentlig bare et fotografi skudt uden videre omtanke, og med noget foto-udstyr af ret alternativ kvalitet. Lomografier skydes ofte på gode, gammeldags filmruller, men kan også skyde digitalt. Det kan måske lyde lidt
          anti-fotograf-agtigt. Men en del foto-entusiaster dyrker den slags, og ser det som en foto-genre eller endda en livsstil.
        </p>
      </Kort>
    </div>
    <div class="glitch">
      <Kort variant="third">
        <h4 class="red">Glitch art</h4>
        <p>Når der sker en teknisk fejl i et medie/en kommunikationskanal kaldes det en glitch.</p>
        <p>Glitch art går ud på at dyrke fejlene for at skabe kunst. En meget typisk glitch er små analoge eller digitale fejl i farvegengivelsen af billeder.</p>
      </Kort>
    </div>
  </section>
  <Galleri />
  <footer>
    <h4 class="footer">Digitale designere: Amalie Forum, Amalie Fahlén Hansen, Ida Marie Hjortnæs & Ida Bolette Svale Nielsen.</h4>
  </footer>
</BaseLayout>

<style>
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text1 {
    padding-block: var(--size-8);
  }
  .text1 p {
    width: 50rem;
    color: var(--primaryRed);
  }

  .text2 {
    padding-block: var(--size-8);
    background-color: var(--primaryRed);
  }
  .text2 h3 {
    color: var(--white);
  }

  .text2 p {
    width: 50rem;
    color: var(--white);
  }

  .billede {
    padding-block: var(--size-8);
  }

  .text {
    padding-top: var(--size-5);
  }

  .container {
    position: relative;
    height: 500px;
  }

  .analog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .lomografi {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  .glitch {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  .blue {
    color: var(--accentBlue);
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  .yellow {
    color: var(--accentYellow);
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  .red {
    color: var(--accentRed);
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  .footer {
    color: var(--primaryBlue);
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
</style>
