---
import FotoStil from "../components/FotoStil.astro";
import PierreFalcke from "../components/PierreFalcke.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Pierre Falcke</h1>
  </body>
</html>

<style>
  body {
    background-color: var(--gray-12);
  }

  h1 {
    color: var(--brown-0);
  }
</style>
