---
import PierreFalcke from "./PierreFalcke.astro";
---

<section>
  <h1>Pierre</h1>
  <PierreFalcke />
</section>

<style>
  section {
    background-color: var(--black);
  }

  h1 {
    font-size: 4rem;
  }
</style>
