---
import PierreFalcke from "./PierreFalcke.astro";
---

<section>
  <h1>Pierre</h1>
  <PierreFalcke />
</section>

<style>
  section {
    background-color: var(--black);
    height: 900px;
  }

  @media (max-width: 820px) {
    section {
      height: 700px;
    }
  }

  @media (max-width: 390px) {
    section {
      height: 300px;
    }
  }
</style>
